/* Basic Styles Start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    scrollbar-color: var(--bullet-point-clr) var(--border-clr);
}
body{
    font-family: "Inter", sans-serif;
}

:root{
    --primary-btn-clr:#1D4ED8;
    --black-text-clr:#000102;
    --white-text-clr:#ffffff;
    --description-text-clr:#575757;
    --white-description-text-clr:rgba(255, 255, 255, 0.9);
    --border-clr:#E5E7EB;
    --secondary-btn-clr:#2563EB;
    --shiny: rgba(255, 255, 255,0.4);
    --category-clr:#888888;
    --pro-category-clr:#93C5FD;
    --price-clr:#0D1B2A;
    --list-clr:#333333;
    --white-list-clr:rgba(255,255,255,0.8);
    --invisible:rgba(0,0,0,0);
    --another-description-clr:rgba(255,255,255,0.5);
    --another-border-clr:rgba(255,255,255,0.1);
    --bullet-point-clr:#60A5FA;
    --glass-clr:linear-gradient(to right,rgba(255,255,255,0.65) 20%,rgba(255,255,255,0.50) 35%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.25) 75%,rgba(255,255,255,0.15) 100%);
    --gradient-bg:linear-gradient(135deg, #eef2f7 0%, #dfe7f2 100%);
    --star-clr:#FFE234;
}

.primary-btn{
    background: var(--primary-btn-clr);
    color: var(--white-text-clr);
    padding: 0.9rem;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s ease;
    cursor: pointer;
    line-height: 1.5rem;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primary-btn-clr);
}

.primary-btn::before{
    content:"";
    position: absolute;
    height: 100%;
    top: 0;
    width: 10%;
    left: 35%;
    background:var(--shiny) ;
    transition:all ease 0.5s;
    opacity: 0;
}
.primary-btn::after{
    content:"";
    position: absolute;
    height: 100%;
    top: 0;
    width: 10%;
    right: 35%;
    background:var(--shiny) ;
    transition:all ease 0.5s;
    opacity: 0;
}

.primary-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--invisible);
    color: var(--primary-btn-clr);
}
.primary-btn:hover::before{
    left: 120%;
    opacity: 1;
}
.primary-btn:hover:after{
    right: 120%;
    opacity: 1;
}

.primary-btn:active{
    scale: 0.9;
}

.secondary-btn{
    padding: 0.7rem 0;
    border-radius: 8px;
    border: 2px solid var(--primary-btn-clr);
    color: var(--primary-btn-clr);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.3rem;
    transition: all ease 0.5s;
    background: var(--invisible);
    cursor: pointer;
}
.secondary-btn:active{
    scale: 0.9;
}
.secondary-btn:hover{
    border: 2px solid var(--price-clr);
    color: var(--price-clr);
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Basic Styles End */

/* Header Style Start */



header{
    background: var(--white-text-clr);
    padding: 1.9rem 0;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid var(--border-clr);
}
header img{
    max-width: 100%;
}

header nav.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header nav.container ul.nav-items{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header nav.container ul.nav-items li a{
    font-size: 1rem;
    color: var(--description-text-clr);
    font-weight: 400;
    transition: all ease 0.5s;
    cursor: pointer;
    text-decoration: none;
}
header nav.container ul.nav-items li a:hover{
    color: var(--primary-btn-clr);
}

header nav.container button.primary-btn{
    height: 48;
    width: 188px;
    font-size: 1rem;
}

/* Header Style End */


/* Banner Section Style Start  */

section.banner{
    min-height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(./Images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 7rem 0 5rem;
}
section.banner div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
}
section.banner div.container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.banner h1{
    font-size: 5rem;
    color: var(--white-text-clr);
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -3.2px;
    padding-bottom: 1rem;
}
section.banner h1 span{
    font-style: italic;
}

section.banner p{
    font-size: 1.2rem;
    color: var(--white-description-text-clr);
    font-weight: 400;
    text-align: center;
    max-width: 650px;
    line-height: 24px;
}

section.banner div.container button.primary-btn{
    height: 74px;
    width: 282px;
    font-size: 1.5rem;
}

/* Banner Section Style End  */

/* Speakers Section Style Start */

section.speaker{
    padding: 4rem 0;
}
section.speaker div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.speaker div.container h1{
    font-size: 3.5rem;
    line-height: 4rem;
    color: var(--black-text-clr);
    font-weight: 700;
    text-align: center;
    padding-bottom: 3.5rem;
}

section.speaker div.container div.card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

section.speaker div.container div.card-wrapper div.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-clr);
    overflow: hidden;
    border-radius: 12px;
}

section.speaker div.container div.card-wrapper div.card div.img-wrap{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.speaker div.container div.card-wrapper div.card div.img-wrap img{
    width: 100%;
    transition: all 0.5s ease;
}
section.speaker div.container div.card-wrapper div.card:hover div.img-wrap img{
    scale: 1.1;
}

section.speaker div.container div.card-wrapper div.card div.info{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:center;
    width: 100%;
    gap: 0.5rem;
}

section.speaker div.container div.card-wrapper div.card div.info span{
    font-size: 0.75rem;
    color: var(--secondary-btn-clr);
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 1.1rem;
    text-transform: uppercase;
}
section.speaker div.container div.card-wrapper div.card div.info h2{
    font-size: 1.25rem;
    color: var(--black-text-clr);
    font-weight: 700;
    line-height: 1.6rem;
}
section.speaker div.container div.card-wrapper div.card div.info p{
    font-size: 0.9rem;
    color: var(--description-text-clr);
    font-weight: 400;
    line-height: 1.25rem;
}


/* Speakers Section Style End */

/* Pricing Section Style Start  */
section.pricing{
    padding: 4rem 0;
}

section.pricing div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.pricing div.container h1{
    color: var(--black-text-clr);
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.9rem;
    padding-bottom: 1rem;
}
section.pricing div.container p{
    color: var(--description-text-clr);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

section.pricing div.container div.price-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    padding: 3rem 0 0 ;
}

section.pricing div.container div.price-wrapper div.price-card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-clr);
    border-radius: 12px;
    width: 100%;
    padding: 2rem ;
    gap: 1.25rem;
}
section.pricing div.container div.price-wrapper div.price-card div span.category{
    display: flex;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--category-clr);
    line-height: 1.2rem;
}
section.pricing div.container div.price-wrapper div.price-card div span.price{
    display: flex;
    font-size: 2.9rem;
    font-weight: 700;
    color: var(--price-clr);
    line-height: 2.9rem;
    padding: 0.5rem 0;
}
section.pricing div.container div.price-wrapper div.price-card div p{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--category-clr);
    line-height: 1.2rem;
}
section.pricing div.container div.price-wrapper div.selected{
    background: var(--price-clr);
}
section.pricing div.container div.price-wrapper div.selected div span.category{
    color: var(--pro-category-clr);
}
section.pricing div.container div.price-wrapper div.selected div span.price{
    color: var(--white-text-clr);
}
section.pricing div.container div.price-wrapper div.selected div p{
    color: var(--another-description-clr);
}
section.pricing div.container div.price-wrapper div.price-card ul{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 1rem;
    border-top: 1px solid var(--border-clr);
}
section.pricing div.container div.price-wrapper div.price-card ul li{
    color: var(--list-clr);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3rem;
}
section.pricing div.container div.price-wrapper div.selected ul{
    border-top: 1px solid var(--another-border-clr);
}
section.pricing div.container div.price-wrapper div.selected ul li{
    color: var(--white-list-clr);
}
section.pricing div.container div.price-wrapper div.price-card ul li::marker{
    color: var(--secondary-btn-clr);
}

section.pricing div.container div.price-wrapper div.selected ul li::marker{
    color: var(--bullet-point-clr);
}

section.pricing div.container div.price-wrapper div.selected button.primary-btn{
    padding: 0.7rem 0;
    border-radius: 8px;
    font-weight: 600;
    
}

/* Pricing Section Style End  */

/* Testimonial Section Style Start */

section.testimonial{
    /* background: var(--gradient-bg); */
    min-height: 50vh;
    padding: 4rem 0 8rem;
    background: linear-gradient(135deg, #eef2f7 0%, #dbe3f0 100%);
}

section.testimonial div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.testimonial div.container h1{
    color: var(--black-text-clr);
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.9rem;
    padding-bottom: 1rem;
}

section.testimonial div.container p{
    color: var(--description-text-clr);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

section.testimonial div.container div.comment-wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 0 0;
    gap: 2rem;
}
section.testimonial div.container div.comment-wrap div.comment-card{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: var(--glass-clr);
    border: 1px solid var(--shiny);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.06);
    padding: 2rem;
    transition: all ease 0.5s;
}
section.testimonial div.container div.comment-wrap div.comment-card:hover{
    transform: translateY(-5px);
}
section.testimonial div.container div.comment-wrap div.comment-card div.star{
    padding: 0 0 1rem;
}
section.testimonial div.container div.comment-wrap div.comment-card div.star i{
    color: var(--star-clr);
    font-size: 1.2rem;
}

section.testimonial div.container div.comment-wrap div.comment-card div.quote h4{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.testimonial div.container div.comment-wrap div.comment-card div.quote div.quote-mark{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

section.testimonial div.container div.comment-wrap div.comment-card div.quote div.quote-mark i{
    font-size: 3rem;
    color: var(--pro-category-clr);
}

section.testimonial div.container div.comment-wrap div.comment-card div.author{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 0;
    border-top:1px solid var(--pro-category-clr) ;
}
section.testimonial div.container div.comment-wrap div.comment-card div.author div.author-img{
    display: flex;
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
section.testimonial div.container div.comment-wrap div.comment-card div.author div.author-img img{
    width: 100%;
    height: 100%;
}

section.testimonial div.container div.comment-wrap div.comment-card div.author div.author-info h5{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.75px;
    color: var(--black-text-clr);
}
section.testimonial div.container div.comment-wrap div.comment-card div.author div.author-info p{
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--description-text-clr);
}


/* Testimonial Section Style End */


/* Footer Style Start  */

footer{
    background: var(--price-clr) ;
}
footer div.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
footer div.main-footer{
    padding: 3rem 0;
}
footer div.other-text{
    padding: 1.5rem 0;
    color: var(--shiny);
    font-size: 0.9rem;
    font-weight: 400;
}
footer div.other-text a{
    text-decoration: none;
    color: inherit;
}

footer div.other-text div{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
footer div.container div img{
    max-width:100%;
}
footer div.container ul{
    list-style: none;
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
}
footer div.container nav ul.nav-items li a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-list-clr);
    transition: color 0.5s ease;
}
footer div.container nav ul.nav-items li a:hover{
    color: var(--pro-category-clr);
}

footer div.container div.contacts ul li{
    display: flex;
    align-items: center;
    gap: 1rem;
}
footer div.container div.contacts ul li> a{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid var(--another-border-clr);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.container div.contacts ul li> a i{
    color: var(--white-list-clr);
    font-size: 1rem;
}



footer div.container div.contacts ul li h4{
    color: var(--white-list-clr);
    font-weight: 500;
    font-size: 0.9rem;
}
footer div.container div.contacts ul li h4 a{
    text-decoration: none;
    color: inherit;
}
footer div.container div.contacts div.social-icons{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    padding: 1.5rem 0 0;
}

footer div.container div.contacts div.social-icons a{
    background: var(--white-list-clr);
    color: var(--primary-btn-clr);
    font-size: 1rem;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
}
footer div.container div.contacts div.social-icons a:hover{
    background: var(--bullet-point-clr);
    color: var(--white-text-clr);
}


hr{
    height: 1px;
    background: var(--another-border-clr);
}

/* Footer Style End  */

